<% provide :title, 'Sign in' %>

<section class="row">
  <article class="columns small-centered small-10 medium-6">
    <%= form_for :session, url: sessions_path do |f| %>
      <h1>Sign in</h1>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit 'Sign in', class: 'button' %>
    <% end %>
  </article>
</section>
