<%
  # First string in row  = value
  # second string in row = display name

  teams = [
    ['Advisor Comparison', 'Advisor Comparison'],
    ['AWI Propositions', 'AWI Propositions'],
    ['Elevate Marketing', 'Elevate Marketing'],
    ['Investment Operations', 'Investment Operations'],
    ['Specialist Products', 'Specialist Products'],
    ['Strategic Pursuits', 'Strategic Pursuits'],
    ['Technical Consultancy', 'Technical Consultancy'],
    ['Business Consultancy', 'Business Consultancy'],
    ['Other', 'Other (Specify in notes)']
  ]

  doctypes = [
    ['Brochures', 'Brochures'],
    ['Charge Information', 'Charge Information'],
    ['Forms', 'Forms'],
    ['Fund Information', 'Fund Information'],
    ['Fund Lists', 'Fund Lists'],
    ['Guide', 'Guide'],
    ['Investments', 'Investments'],
    ['Key Features', 'Key Features'],
    ['Other', 'Other'],
    ['Policy', 'Policy'],
    ['Presentations (Add to Presentations Category)', 'Presentations'],
    ['Sales Aids (Add to Sales Aids Category)', 'Sales Aids'],
    ["T&amp;C's", "T&amp;C's"],
    ['Technical Information', 'Technical Information'],
    ['Template', 'Template'],
    ['Other', 'Other (Specify in notes)']
  ]

  categories = [
    'AXA Wealth > Awards & Ratings',
    'AXA Wealth > About Us',
    'Elevate > Platform Literature',
    'Elevate > Elevate Sales Aids',
    'Elevate > GIA & ISA',
    'Elevate > PIA + Retirement > Elevate PIA',
    'Elevate > Non-Advised ISA',
    'Elevate > Investments',
    'Elevate > Trusts and Offshore Bond',
    'Elevate > Discretionary Manager',
    'Elevate > Risk Profiling',
    'Elevate > Voyant',
    'Elevate > Back Office',
    'Elevate > Loyalty Offer',
    'Elevate > Help Guides',
    'Elevate > Releases',
    'Elevate > Account Contact Forms',
    'Funds & Investments > International Investments',
    'Funds & Investments > Fund Information',
    'Funds & Investments > Investment Guides',
    'Funds & Investments > OBSR',
    'Consultancy > Technical Consultancy > Calculators',
    'Consultancy > Technical Consultancy > Client Auditor',
    'Consultancy > Technical Consultancy > Client Auditor > Bonds',
    'Consultancy > Technical Consultancy > Client Auditor > Collectives',
    'Consultancy > Technical Consultancy > Client Auditor > IHT',
    'Consultancy > Technical Consultancy > Client Auditor > Other',
    'Consultancy > Technical Consultancy > Client Auditor > Post Retirement',
    'Consultancy > Technical Consultancy > Client Auditor > Pre-Retirement',
    'Consultancy > Technical Consultancy > Client Migration',
    'Consultancy > Technical Consultancy > Client Migration > Bonds',
    'Consultancy > Technical Consultancy > Client Migration > ISA',
    'Consultancy > Technical Consultancy > Client Migration > OEIC',
    'Consultancy > Technical Consultancy > Client Migration > Pension',
    'Consultancy > Technical Consultancy > Family Suntrust',
    'Consultancy > Technical Consultancy > Financial Planning Forums',
    'Consultancy > Technical Consultancy > Holistic Financial Planning',
    'Consultancy > Technical Consultancy > Ian Butler Will Trust',
    'Consultancy > Technical Consultancy > IHT Masterclass',
    'Consultancy > Technical Consultancy > Investment Wrappers',
    'Consultancy > Technical Consultancy > Investment Wrappers > Collectives',
    'Consultancy > Technical Consultancy > Investment Wrappers > Combined',
    'Consultancy > Technical Consultancy > Investment Wrappers > Bonds',
    'Consultancy > Technical Consultancy > Kings Castles',
    'Consultancy > Technical Consultancy > Pensions Pre-Retirement',
    'Consultancy > Technical Consultancy > Pensions Post Retirement',
    'Consultancy > Technical Consultancy > Trust Masterclass',
    'Consultancy > Advisor Comparison Tools',
    'Consultancy > Advisor Comparison Tools > Defaqto',
    'Consultancy > Advisor Comparison Tools > Adviser Asset',
    'Consultancy > Advisor Comparison Tools > Elevate Reprice',
    'Consultancy > Advisor Comparison Tools > O and M',
    'Consultancy > Advisor Comparison Tools > Platform',
    'Consultancy > Advisor Comparison Tools > Select a Pension',
    'Consultancy > Advisor Comparison Tools > Synpatic',
    'Consultancy > Advisor Comparison Tools > Team',
    'Consultancy > Business Support > Transitioning your Business',
    'Retirement > FST',
    'Retirement > RWA',
    'Retirement > Trustee Investment Plan',
    'Retirement > Annuity',
    'Retirement > Elevate PIA + Elevate > PIA',
    'Onshore > Investment Bond',
    'Onshore > Trusts',
    'International > AWI Guides',
    'International > Estate Planning Bond',
    'International > Evolution',
    'International > Selection',
    'International > Delegation',
    'International > Fund Literature',
    'International > Trusts',
    'International > Elevate',
    'International > Closed Products &amp; Pre-RDR',
    'International > Sales Aids',
    'Closed Products > Executive Pension',
    'Closed Products > Section 32',
    'Closed Products > Personal Pension',
    'Sales Aids',
    'Presentations',
    'Current Campaigns > Stockbroking Comms',
    'Current Campaigns > FNZ Comms',
    'Current Campaigns > RWA Campaign',
    'Current Campaigns > RDR2',
    'Current Campaigns > RDR2 > Customer Comms',
    'Current Campaigns > RDR2 > Adviser Communications',
    'Current Campaigns > FATCA Comms'
  ]
%>

<!DOCTYPE HTML>
<html>
<head>
<title>Axa Upload Form</title>
<style type="text/css">
.field { color: #0f2a70; font-family:Arial; font-size:13px; text-align:left; margin-bottom:5px; margin-top:0px }
.field2 { color: #0f2a70; font-family:Arial; font-size:12px; text-align:left; margin-bottom:5px; margin-top:0px }
.upload { cursor:hand; font-family:Arial; font-size:12px; text-align:left; margin-bottom:5px; margin-top:0px }
.errormsg { color: #c20e1a; width: 400px; font-family:Arial; font-size:15px; }
#PageDiv { position:relative; max-width:960px; min-height:100% }
#PageImage { position:absolute; left:15px; top:15px; width:478px; height:639px; z-index:1 }
#Formarea { position:absolute; left:25px; top:25px; width:599px; z-index:2 }
#SubmitOrderImage { position:relative; width:105px; height:30px }
select { border-color: #0f2a70; border-width: 1px; background-image:url('https://www.axawealthmarketingstore.co.uk/Custom/Themes/Axa/CSS/Images/FormDropMenuBackground.gif'); background-repeat:repeat-x  }
label { cursor: pointer; }
input { width: 237px; }
</style>
</head>
<body>
<div id="PageDiv">
	<div id="PageImage"><img src="https://perivansolutions.co.uk/Axa_form/Resources/uploadimage2.jpeg" border=0 width=520 height=720 alt="Uploadimage2" style="float:left">
</div>
	<div id="Formarea"><form name="axa_upload" action="axa_upload" method="post" enctype="multipart/form-data">
		<p class="field"><b>COMPLETE THE FORM BELOW:</b></p>
<table border=0 cellspacing=2 cellpadding=0>
	<tr>
		<td width=200 valign=middle>
		<p class="field"><br>Your name: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><br><input type="text" name="Name" value="<%= @data[:Name] %>" style="width: 250px;" required></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Your email: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><input type="text" name="Email" value="<%= @data[:Email] %>" style="width: 250px;" required></p>
		</td>
	</tr>
	<tr>
		<td><p class="field"><br><b>DOCUMENT DETAILS:</b></p></td>
	</tr>	
	<tr>
		<td width=200 valign=middle>
		<p class="field">Document Name: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><input type="text" name="Productname" value="<%= @data[:Productname] %>" style="width: 250px;" required></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Code:<br>(If none leave empty) </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><input type="text" name="Code" value="<%= @data[:Code] %>" style="width: 250px;"></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Team: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><select type="text" name="Team" style="width: 150px;">
                        <option <% unless @data[:Team] %>selected<% end %>>Select</option>
                        <% teams.each do |team| %>
                        <option value="<%= team[0] %>"<% if @data[:Team] == team[0] %> selected<% end %>  ><%= team[1] %></option>
                        <% end %>
		</select></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Document type: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><select type="text" name="Doctype" style="width: 150px;">
                        <option <% unless @data[:Doctype] %>selected<% end %>>Select</option>
                        <% doctypes.each do |type| %>
                        <option value="<%= type[0] %>"<% if @data[:Doctype] == type[0] %> selected<% end %>  ><%= type[1] %></option>
                        <% end %>
			</select></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Document owner: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><input type="text" value="<%= @data[:Contact] %>" name="Contact" style="width: 250px;" required></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Expiry Date: </p>
		</td>
		<td width=450 valign=top>
                  <p class="field"><input type="text" name="Review" value="<%= @data[:Review] %>" style="width: 250px;" required></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Main category: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><select type="text" name="Category" style="width: 255px;">
                        <option <% unless @data[:Category] %>selected<% end %>>Select</option>
                        <% categories.each do |cat| %>
                        <option value="<%= html_escape cat %>"<% if @data[:Category] == cat %> selected<% end %>  ><%= cat %></option>
                        <% end %>
				</select></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=middle>
		<p class="field">Additional category: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><select type="text" name="Category2" style="width: 255px;">
                        <option <% unless @data[:Category2] %>selected<% end %>>Optional</option>
                        <% categories.each do |cat| %>
                        <option value="<%= html_escape cat %>"<% if @data[:Category2] == cat %> selected<% end %>  ><%= cat %></option>
                        <% end %>
				</select></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=top>
		<p class="field">Keywords: </p>
		</td>
		<td width=450 valign=top>
		<p class="field"><textarea type="text" rows=3 name="Keywords" style="width: 250px; height: 40px"><%= @data[:Keywords] %></textarea></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=top>
		<p class="field2">Additional notes:<br>i.e Specify new team or document type or if product is new/replacement etc</p>
		</td>
		<td width=450 valign=top>
		<p class="field"><textarea type="text" rows=3 name="AddNotes" style="width: 250px; height: 60px"><%= @data[:AddNotes] %></textarea></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=top>
		<p class="field2">The document will appear within 24 hours. Set a specific date/time if needed:</p>
		</td>
		<td width=450 valign=top>
		<p class="field"><textarea type="text" rows=3 name="datetime" style="width: 250px; height: 40px"><%= @data[:datetime] %></textarea></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=top>
		<p class="upload"><input type="file" name="Upload" size=20 required></p>
		</td>
		<td width=200 valign=top>
		<p class="field2"></p>
		</td>
	</tr>
	<tr>
		<td width=200 valign=top>
		<p class="field2"><input type="image" id="SubmitOrderImage" src="https://perivansolutions.co.uk/Axa_form/Resources/submitorderimage.gif" name="Submit"></p>
		</td>
		<td width=200 valign=top>
		<p class="field2"></p>
		</td>
	</tr>
</table>	
</form>
        <% if @data[:failed] %>
        <p class="errormsg">Please enter a valid value for <%= @data[:invalid].to_sentence %></p>
        <% elsif @data[:success] %>
        <p>Document successfully uploaded</p>
        <% end %>
</body>
</html>
