<article class="row clearfix">
  <%= form_for @user, class: 'row middle-centered middle-6' do |f| %>
    <div class="columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="columns medium-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="columns medium-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="columns medium-6">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="columns medium-6">
      <%= f.label :password_confirmation, 'Confirmation' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <% if current_user && current_user.admin? %>
      <div class="columns">
        <%= f.check_box :uploader %>
        <%= f.label :uploader %>

        <%= f.check_box :reporter %>
        <%= f.label :reporter %>

        <%= f.check_box :admin %>
        <%= f.label :admin %>
      </div>
    <% end %>

    <div class="column">
      <%= f.submit 'Save user', class: 'button' %>
    </div>
    <% end %>
</article>
