<% provide :title, 'Sign up' %>
<h1>Create new user</h1>

<%= form_for @user do |f| %>
  <%= render 'error_messages' %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Create new user', class: 'btn' %>
<% end %>
