<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    Raisin Docs
    <%= ' - ' << yield(:title) if content_for?(:title) %>
  </title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <aside class="row">
      <article class="middle-centered middle-6 alert-box <%= key %>" data-alert>
        <%= value %>
        <a href="#" class="close">&times;</a>
      </article>
    </aside>
  <% end %>

  <%= yield %>

  <% if Rails.env.development? %>
    <section class="row">
      <article class="debug-dump panel middle-centered middle-6">
        <%= debug params %>
        <%= debug flash %>
      </article>
    </section>
  <% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
