<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : 'Raisin Docs' %></title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %> </div>
  <% end %>

  <%= yield %>

  <%= debug params if Rails.env.development? %>
  <%= debug flash if Rails.env.development? %>

  <%= javascript_include_tag "application" %>
</body>
</html>
